<p style='color:green;background-color:red;border-style:solid;border-color:blue;margin:5px;text-align:center;padding:5px'>Exploratory Data Analysis

In [1]:
#load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/slmsshk-tech/DataSet1/main/data_clean.csv")
data.head()

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S

In [3]:
data.tall()

AttributeError: 'DataFrame' object has no attribute 'tall'

In [ ]:
data.info()

In [ ]:
data

In [ ]:
data.tail(10)

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data['Month']=pd.to_numeric(data['Month'],errors='coerce') #[1,1.5,NAN] january NA
data['Temp C']=pd.to_numeric(data['Temp C'],errors='coerce')# coerce will introduce NA values for non numeric data in the columns
data['Weather']=data['Weather'].astype('category')           #data['Wind']=data['Wind'].astype('int64')

In [ ]:
data.info()

<h2 style="background-color:rgb(255, 99, 71);">Duplicates</h2>

In [ ]:
data.iloc[5]=data.loc[15]

In [ ]:
data.duplicated()

In [ ]:
data.iloc[5]=data.loc[15]

In [ ]:
data.duplicated()

In [ ]:
l=[1,2,3]

In [ ]:
l[1:2]

In [ ]:
data.columns

In [ ]:
data['Weather'].value_counts()

In [ ]:
data[data['Weather']=='PS']

In [ ]:
#Count of duplicated rows
data[data.duplicated()].shape

In [ ]:
data

In [ ]:
#Print the duplicated rows
data[data.duplicated()]

In [ ]:
data2=data.copy()

In [ ]:
data_cleaned1=data.drop_duplicates()

In [ ]:
data_cleaned1.shape

<h1 style="background-color:rgba(255, 99, 71, 0.5);">Drop columns</h1>

In [ ]:
data

In [ ]:
data_cleaned2=data_cleaned1.drop(['Temp C','Unnamed: 0'],axis=1)

In [ ]:
data_cleaned2.head(1)

<h1 style="border:2px solid DodgerBlue;">
Rename the columns</h1>

In [ ]:
#rename the Solar column
name={'Solar.R': 'Solar'}
data_cleaned3 = data_cleaned2.rename(name, axis=1)

In [ ]:
data_cleaned3.head(1)

<h1 style="background-color:yellow;">Missing Values and Imputation</h1>

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(data_cleaned3.isnull(),cmap=['yellow','red'])

In [ ]:
import seaborn as sns
cols = data_cleaned3.columns 
colours = ['#000099', '#ffff00'] # specify the colours - yellow is missing. blue is not missing.

In [ ]:
data_cleaned3[data_cleaned3.isnull().any(axis=1)].head()

In [ ]:
data_cleaned3.isnull().sum()*100/len(data_cleaned3)

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
data_cleaned3['Ozone']=KNNImputer().fit_transform(data_cleaned3[{'Ozone'}])

In [ ]:
data_cleaned3.isnull().sum()

In [ ]:
data_cleaned3.Solar.isnull().sum()

In [ ]:
data_cleaned3.dtypes

In [ ]:
#Mean Imputationa
mean = data_cleaned3['Solar'].median()
print(mean)

In [ ]:
data_cleaned3['Solar'] = data_cleaned3['Solar'].fillna(mean)

In [ ]:
data_cleaned3
# Plot boxplot

In [ ]:
mode=data_cleaned3.Weather.mode()[0]

In [ ]:
data_cleaned3['Weather']=data_cleaned3['Weather'].fillna(mode)

In [ ]:
data_cleaned3.isnull().sum()

In [ ]:
data.shape

In [ ]:
mean=data_cleaned3['Month'].mean()
mean

In [ ]:
data_cleaned3['Month']=data_cleaned3['Month'].fillna(mean)

In [ ]:
data_cleaned3.isnull().sum()

In [ ]:
#Missing value imputation for categorical vlaue
#Get the object columns
obj_columns=data_cleaned3[['Weather']]

In [ ]:
obj_columns.isnull().sum()

In [ ]:
#Missing value imputation for categorical vlaue
# df.mode
# df.median//////
obj_columns=obj_columns.fillna(obj_columns.mode().iloc[0])

In [ ]:
obj_columns.isnull().sum()
data.boxplot()

In [ ]:
data_cleaned3

In [ ]:
obj_columns.shape

In [ ]:
#data_cleaned4=data_cleaned3.drop(['Weather'],axis=1,inplace=True

In [ ]:
#Join the data set with imputed object dataset
data_cleaned4=pd.concat([data_cleaned3,obj_columns],axis=1)

In [ ]:
data_cleaned4.isnull().sum()

In [ ]:
data_cleaned4

In [ ]:
#Bar plot
data['Weather'].value_counts().plot.bar()

<h1 style="background-color:red;">Outlier Detection</h1>

In [ ]:
# histogram of Ozone
data_cleaned3['Ozone'].hist()

In [ ]:
#Box plot
data_box=data_cleaned3.dropna()
data1_box=data_box.Ozone
plt.boxplot(data1_box)

In [ ]:
box.items()

In [ ]:
l=[]
for i in range(10):
   l.append(i) 

l

In [ ]:
l=[i for i in range(10)]
l

In [ ]:
box['fliers']

In [ ]:
[item.get_ydata() for item in box['fliers']] #fliers are outliers

In [ ]:
plt.boxplot(data_cleaned3['Ozone'])

In [ ]:
#To get the whiskers
[item.get_ydata()[1] for item in box['whiskers']]

In [ ]:
#Descriptive stat
data_cleaned3['Ozone'].describe()

In [ ]:
data_cleaned3

<h1 style="background-color:rgba(255, 99, 71, 0.5);">Drop columns</h1>

In [ ]:
data_cleaned3.columns

In [ ]:
pd.plotting.scatter_matrix(data_cleaned3)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# Seaborn visualization library
import seaborn as sns
# Create the default pairplot
# pd.plotting.scatter_matrix(data_cleaned3)
sns.pairplot(data_cleaned3)

In [ ]:
#Correlation
data_cleaned3.corr()

<h1 style="border:2px solid Violet;">Transformations</h1>

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(sparse=False)
ohe.fit_transform(data_cleaned3[['Weather']])

In [ ]:
ohe.inverse_transform([[0,0,1]])

In [ ]:
pd.get_dummies(data_cleaned3.Weather)

<h2 style="border:2px solid Tomato;">Dummy Variable</h2>

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
Y=lefit_transform(data_cleaned3[['Weather']])
Y.

In [ ]:
le.inverse_transform([1,2,0])

In [ ]:
data_cleaned3

In [ ]:
#Creating dummy variable for Weather column
data_cleaned4=pd.get_dummies(data)
data_cleaned4

In [ ]:
data_cleaned4

In [ ]:
data_cleaned4=data_cleaned4.dropna()

<h1 style="background-color:green;">Normalization of the data
</h1>

In [ ]:
#Normalization of the data
# from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [ ]:
StandardScaler().fit_transform(data_cleaned4[['Ozone']])

In [ ]:
data_cleaned4.values

In [ ]:
array = data_cleaned4.values

scaler = MinMaxScaler(feature_range=(0,1))
rescaledX = scaler.fit_transform(array)

#transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

In [ ]:
# Standardize data (0 mean, 1 stdev)
from sklearn.preprocessing import StandardScaler

In [ ]:
array = data_cleaned4.values
scaler = StandardScaler()
scaler.fit(array)
rescaledX = scaler.transform(array)

# summarize transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

<h1 style="background-color:blue;">Welcome in basic EDA</h1>

In [ ]:
!pip install pandas-profiling
!pip install sweetviz

In [ ]:
import pandas_profiling as pp
import sweetviz as sv

In [ ]:
EDA_report= pp.ProfileReport(data,vars={"num": {"low_categorical_threshold": 0}})
EDA_report.to_file(output_file='report2.html')

In [ ]:
sweet_report = sv.analyze(data)
sweet_report.show_html('weather_report.html')